@import "tailwindcss";
:root {
  --header-h: 74px;
  --header-hm: 64px;
  --menu-mobile: 56px;
  --menu-mobil-sm: 64px;
  --text-color-title: #005c99;

  --size-container: 420px;
}

html,
body,
#__next {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

a {
  /* @apply text-blue-600 hover:text-blue-700 underline; */
  text-decoration: none;
}

.container {
  /* max-w-6xl */
  @apply mx-auto px-0;
}
.section {
  @apply px-6;
}
.zindex {
  z-index: 9999;
}
.size {
  width: 602px;
  height: 700px;
}
/* select:hover {
  background-color: #a0aec0;
} */
select,
select::picker(select) {
  appearance: none;
}
select::picker(select) {
  background-color: whitesmoke;
  border: 1px solid #a3a3a3;
  border-radius: 10px;
  padding: 0.53rem;
  background-position: left center;
  background-size: 10px;
}
select :hover {
  background-color: #a0aec0;
}
